<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"
    rel="stylesheet"
  />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- <h1>Welcome, {{ username }}!</h1> -->

    
<!-- <div class="container my-12 py-12 mx-auto px-4 md:px-6 lg:px-12">

  
    <section class="mb-20 text-gray-800">
  
      <div class="flex flex-wrap justify-center">
        <div class="flex-initial shrink w-full xl:w-5/12 lg:w-6/12">
            {{location}}
          <div class="lg:py-12 lg:pl-6 mb-6 lg:mb-0">
            <iframe
            src={{location}}
            class="h-80 w-full border-0 rounded-lg shadow-lg" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
        <div class="flex-initial shrink w-full xl:w-7/12 lg:w-6/12 mb-6 md:mb-0 lg:-ml-12">
          <div class="bg-blue-600 h-full rounded-lg p-6 lg:pl-12 text-white flex items-center py-12 lg:py-0" style="z-index: -10">
            <div class="lg:pl-12">
              <h3 class="text-2xl font-semibold uppercase mb-6 pb-2">Welcome {{ username }}!</h3>
              <h5 class="text-xl font-semibold mb-2">Address:</h5>
              <p class="mb-6">Lafayette St &, E Houston, st New <br> York, 10012, USA</p>
              <h5 class="text-xl font-semibold mb-4">Follow us:</h5>
              <div class="flex flex-row">
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </section>
    
  
  </div> -->
 

    <!-- <a class="text-blue-600" href="/logout">Logout</a> -->

    {% include '/users/navbar.html' %}
    {% block content %}
    {%if active_page == 'home'%}
    <!-- Home Page -->
    {%endif%}
    {%if active_page == 'profile'%}
    <!-- PROFILE PAGE -->
    {%endif%}
    {%if active_page == 'home'%}
    {%endif%}
    {% endblock %}

</body>
</html>
